<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>testhh</title>
    <link rel="stylesheet" href="../static/css/testhh.css">
</head>
<body>
<div class="d1">
    <div class="header">
        <div class="header_q">

        </div>
        <span class="header_biaoti">土壤墒情预警系统</span>
        <span class="header_a">
            <a href="/index?from=monitor">返回首页</a>
        </span>
    </div>
    <div class="main">
        <div class="numberMain">
            <div class="numberContent_1">

                <div class="num_1">
                    <span class="number_1">土壤信息</span>
                </div>
                <div class="num_2">
                    <div class="num_4">
                        <div class="number_4">
                            <img src="../static/img/wendu.png" class="number_5">
                            <div class="number_7">
                                <span class="number_6">土壤温度</span>
                            </div>

                        </div>
                        <div class="number_2">
                            <span class="number_21">22.3°</span>
                        </div>
                        <div class="number_3">
                            <img src="../static/img/shengw.png" class="number_31">
                            <p class="number_33">PH值:  6.1</p>
                            <img src="../static/img/shengwu.png" class="number_32">
                            <p class="number_33">EC值:  3.5</p>
                        </div>
                    </div>
                    <div class="num_5">
                        <div class="number_4">
                            <img src="../static/img/shui.png" class="number_5 number_51">
                            <div class="number_7">
                                <span class="number_6">土壤湿度</span>
                            </div>

                        </div>
                        <div class="number_2">
                            <span class="num_51">32.5%</span>
                        </div>
                        <div class="number_3">
                            <img src="../static/img/danlinjia.png" class="num_53">
                            <p class="num_52">氮磷钾:   2.6/1.2/3.5</p>
                        </div>
                    </div>
                </div>
                <div class="num_3">
                    <div class="num_31">
                        <span>循环滚动播放滴滴答答滴滴答答滴滴答答循环滚动播放滴滴答答</span>
                    </div>
                </div>
            </div>
            <div class="numberContent_2">
                <div class="num_21">
                    <span class="num_23">土壤记录</span>
                </div>
                <div class="num_22" id="echa_1"></div>
            </div>
        </div>
        <div class="agriculturalMain">
            <div class="agricultural_1">
                <div class="agricultural_3">
                    <div class="agricultural_31"></div>
                    <div class="num_1">
                        <span class="agr_33">土壤信息</span>
                    </div>
                    <div class="agr_31" id="agr_1">

                    </div>
                </div>
                <div class="agricultural_4">
                    <div class="num_1">
                        <span class="agr_41">最新信息</span>
                    </div>
                    <div class="agr_42">
                        <div class="agr_432 agr_43">
                            <span class="span_4 span_1">地块1区</span>
                            <span class="span_4 span_2">土壤湿度温度正常</span>
                            <span class="span_4 span_3">01:15</span>
                        </div>
                        <div class="agr_432 agr_431">
                            <span class="span_4 span_1 span_11">地块2区</span>
                            <span class="span_4 span_2 span_22">土壤湿度温度正常</span>
                            <span class="span_4 span_3 span_33">01:17</span>
                        </div>
                        <div class="agr_432 agr_431">
                            <span class="span_4 span_1 span_11">地块2区</span>
                            <span class="span_4 span_2 span_22">土壤湿度温度正常</span>
                            <span class="span_4 span_3 span_33">01:17</span>
                        </div>
                        <div class="agr_432 agr_431">
                            <span class="span_4 span_1 span_11">地块2区</span>
                            <span class="span_4 span_2 span_22">土壤湿度温度正常</span>
                            <span class="span_4 span_3 span_33">01:17</span>
                        </div>
                        <div class="agr_432 agr_43">
                            <span class="span_4 span_1">地块2区</span>
                            <span class="span_4 span_2">土壤湿度温度正常</span>
                            <span class="span_4 span_3">01:17</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="agricultural_2">
                <div class="div_1">
                    <span class="agr_41">多层土壤湿温度</span>
                </div>
                <div class="div_2">
                    <div class="div_3">
                        <div class="div_4">
                            <span class="span_5 span_7">一层湿温度</span>
                            <span class="span_6 span_7">
                                <span class="span_8">21.5℃</span>
                                <span class="span_9">/</span>
                                24%
                            </span>
                        </div>
                        <div class="div_4">
                            <span class="span_5 span_7">二层湿温度</span>
                            <span class="span_6 span_7">
                                <span class="span_8">23.8℃</span>
                                <span class="span_9">/</span>
                                26%
                            </span>
                        </div>
                    </div>
                    <div class="div_3">
                        <div class="div_4">
                            <span class="span_5 span_7">三层湿温度</span>
                            <span class="span_6 span_7">
                                <span class="span_8">25.1℃</span>
                                <span class="span_9">/</span>
                                27%
                            </span>
                        </div>
                        <div class="div_4">
                            <span class="span_5 span_7">四层湿温度</span>
                            <span class="span_6 span_7">
                                <span class="span_8">26.7℃</span>
                                <span class="span_9">/</span>
                                29%
                            </span>
                        </div>
                    </div>
                    <div class="div_3">
                        <div class="div_4">
                            <span class="span_5 span_7">五层湿温度</span>
                            <span class="span_6 span_7">
                                <span class="span_8">28.5℃</span>
                                <span class="span_9">/</span>
                                33%
                            </span>
                        </div>
                        <div class="div_4">
                            <span class="span_5 span_7">六层湿温度</span>
                            <span class="span_6 span_7">
                                <span class="span_8">30.9℃</span>
                                <span class="span_9">/</span>
                                32%
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../static/js/jquery.min.js?v=2.1.4"></script>
<script src="../static/i18n/jquery.i18n.properties.js"></script>
<script src="../static/js/echarts.min.js"></script>
<script src="../static/js/layui.js" charset="utf-8"></script>
<script src="../static/js/ezuikit.js" charset="utf-8"></script>
<script src="../static/js/hls.min.js"></script>
<script src="../static/js/testhh.js"></script>
<script src="../static/js/echa.js"></script>
</body>
</html>