<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/testhhh.css">
</head>
<body>
<div class="div_1">
    <div class="div_2">
        <div class="div_21"></div>
        <span class="span_1">物资库存管理系统</span>
        <span class="span_2">
            <a href="/index?from=monitor">返回首页</a>
        </span>
    </div>
    <div class="div_3">
        <div class="div_31">
            <div class="div_311">
                <div class="div_3111"></div>
                <div class="div_3112"></div>
            </div>
            <div class="div_311">
                <div class="div_3111"></div>
                <div class="div_3112"></div>
            </div>
        </div>
        <div class="div_32"></div>
    </div>
    <div class="div_4">
        <div class="div_41">
            <div class="div_411"></div>
            <div class="div_411"></div>
        </div>
        <div class="div_42">
            <div class="div_421"></div>
            <div class="div_421"></div>
        </div>
    </div>
</div>
</body>
</html>