<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--    <title>江西归返农业物联网大数据中心</title>-->
    <!--<title>安乡农仓大数据展示平台</title>-->
    <title>智慧猪场物联网环境控制系统</title>
    <!--<title>扬州原之源生态农业发展有限公司农业生态园</title>-->
    <link rel="stylesheet" href="../../static/css/cloudHutch.css">
</head>
<div class="container">
    <div class="container1"></div>
    <div class="header">
        <div class="time_div" id="time"></div>
        <span class="imgHeader1">
            </span>
        <span class="imgHeader2">智慧猪场物联网环境控制系统</span>
        <span class="imgHeader3"></span>
        <span class="back"><a href="/index?from=monitor">返回主页</a></span>
    </div>
    <div class="main">
        <div class="saleMain">
            <div class="saleTitle">
                <div class="Topimg1">
                    <img src="../../static/img/bigdata/bigdata_13.png" alt="">
                </div>
                智能销售板块
                <div class="Topimg2">
                    <img src="../../static/img/bigdata/bigdata_15.png" alt="">
                </div>
            </div>
            <div class="saleContent">
                <div class="saleContent-top">
                    <div class="saleContent-top-left">
                        <div class="mainRow1_left1">
                            <div class="title">
                                <div class="mainRow_left_titles">各省ERP价格</div>
                                <div class="imgBox">
                                    <img class="imgBox_1" src="../../static/img/bigdata/bigdata_43.png" alt="">
                                </div>
                            </div>
                            <div class="mainRow1_left1_body">
                                <div>
                                    <p class="_text1">7980元</p>
                                    <p>山东省</p>
                                </div>
                                <div>
                                    <p class="_text1">8680元</p>
                                    <p>江苏省</p>
                                </div>
                                <div>
                                    <p class="_text1">7320元</p>
                                    <p>河北省</p>
                                </div>
                                <div>
                                    <p class="_text1">8710元</p>
                                    <p>河南省</p>
                                </div>
                                <div>
                                    <p class="_text1">8120元</p>
                                    <p>安徽省</p>
                                </div>
                                <div>
                                    <p class="_text1">8340元</p>
                                    <p>湖北省</p>
                                </div>
                            </div>
                        </div>
                        <!--<div class="mainRow1_left2">
                            &lt;!&ndash;<div class="title">
                                <div class="mainRow_left_titles">昨日销售金额</div>
                                <div class="imgBox"><img
                                        src="../../static/img/bigdata/bigdata_43.png"
                                        alt=""></div>
                            </div>&ndash;&gt;
                            <div class="mainRow1_left2_body">
                                <div>
                                    <div class="num"></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>-->

                    </div>
                    <div class="saleContent-top-right">
                        <div class="mainRow1_right1">
                            <div class="title">
                                <div class="mainRow_left_titles">电子商铺</div>
                                <div class="imgBox">
                                    <img class="imgBox_1" src="../../static/img/bigdata/bigdata_43.png" alt="">
                                </div>
                            </div>
                            <div class="mainRow1_left1_body">
                                <div>
                                    <p class="_text1"> </p>
                                    <p class="text_2">一号店铺</p>
                                </div>
                                <div>
                                    <p class="_text1"> </p>
                                    <p class="text_2">二号店铺</p>
                                </div>
                                <div>
                                    <p class="_text1"></p>
                                    <p class="text_2">三号店铺</p>
                                </div>
                                <div>
                                    <p class="_text1"></p>
                                    <p class="text_2">四号店铺</p>
                                </div>
                                <div>
                                    <p class="_text1"></p>
                                    <p class="text_2">五号店铺</p>
                                </div>
                                <div>
                                    <p class="_text1"></p>
                                    <p class="text_2">六号店铺</p>
                                </div>
                            </div>
                        </div>
                        <!--<div class="mainRow1_right2">
                           &lt;!&ndash; <div class="title">
                                <div class="mainRow_left_titles titles">昨日配货金额</div>
                                <div class="imgBox">
                                    <img src="../../static/img/bigdata/bigdata_43.png" alt="">
                                </div>
                            </div>&ndash;&gt;
                            <div class="mainRow1_left2_body">
                                <div>
                                    <div class="num"></div>
                                </div>
                            </div>
                        </div>-->

                    </div>
                </div>
                <div class="saleContent-bottom">
                    <div class="mainRow1_right3s">
                        <video autoplay="autoplay" loop="loop" muted="muted" src="../../static/img/maidi.mp4" height="120" width="180"></video>
                        <!--<img src="../../static/img/bigdata/sale1.jpg" alt="">-->
                        <!--<video class="player" id="video_id0" autoplay="autoplay" loop="loop"-->
                        <!--controls="controls"-->
                        <!--src="">-->
                        <!--</video>-->
                    </div>
                    <div class="mainRow1_right3s">
                        <video autoplay="autoplay" loop="loop" muted="muted" src="../../static/img/maitian.mp4" height="120" width="180"></video>
                        <!--<img src="../../static/img/bigdata/sale2.jpg" alt="">-->
                        <!--<video class="player" id="video_id1" autoplay="autoplay" loop="loop" controls="controls" src="">-->
                        <!--</video>-->
                    </div>
                    <div class="mainRow1_right3s">
                        <video autoplay="autoplay" loop="loop" muted="muted" src="../../static/img/muchang.mp4" height="120" width="180"></video>
                        <!--<img src="../../static/img/bigdata/sale3.jpg" alt="">-->
                        <!--<video class="player" id="video_id2" autoplay="autoplay" loop="loop"-->
                        <!--controls="controls"-->
                        <!--src="">-->
                        <!--</video>-->
                    </div>
                    <div class="mainRow1_right3s">
                        <video autoplay="autoplay" loop="loop" muted="muted" src="../../static/img/nongchang.mp4" height="120" width="180"></video>
                        <!--<img src="../../static/img/bigdata/sale4.jpg" alt="">-->
                        <!--<video class="player" id="video_id3" autoplay="autoplay" loop="loop"-->
                        <!--controls="controls"-->
                        <!--src="">-->
                        <!--</video>-->
                    </div>
                    <!--<div class="mainRow1_right3s" style="margin-left: 10px">-->
                    <!--<img src="../../static/img/bigdata/bigdata_2.png" alt="">-->
                    <!--</div>-->
                    <!--<div class="mainRow1_right3s">-->
                    <!--<img src="../../static/img/bigdata/bigdata_3.png" alt="">-->
                    <!--</div>-->
                    <!--<div class="mainRow1_right3s" style="margin-left: 10px">-->
                    <!--<img src="../../static/img/bigdata/bigdata_4.png" alt="">-->
                    <!--</div>-->
                </div>
            </div>

        </div>
        <div class="numberMain">
            <div class="numberTitle">
                <div class="Topimg1">
                    <img src="../../static/img/bigdata/bigdata_13.png" alt="">
                </div>
                数字工厂板块
                <div class="Topimg2">
                    <img src="../../static/img/bigdata/bigdata_15.png" alt="">
                </div>
            </div>
            <div class="numberContent">
                <div class="numberCon1">
                    <div class="mainRow3_img2">
                        <div class="mainRow3_2" id="container" ></div>
                        <div class="mainRow3_1">
                            <p class="topCentOne">年度种植</p>
                            <p class="topCentOneMsg">
                                <span class="topCentOneLeft">0亩</span>
                                <span class="topCentOneRight">种植度0%</span>
                            </p>
                            <span class="borderTop"></span>
                            <span class="borderRight"></span>
                            <span class="borderBottom"></span>
                            <span class="borderLeft"></span>
                        </div>
                        <div class="mainRow3_1_2">
                            <p>威海农场</p>
                            <div class="mainRow3_1_3">
                                <img src="../../static/img/beijing.jpg">
                                <span class="borderTop"></span>
                                <span class="borderRight"></span>
                                <span class="borderBottom"></span>
                                <span class="borderLeft"></span>
                            </div>
                            <div class="mainRow3_1_4">
                                <p>种植地: 威海高区</p>
                                <p>种植物: 小麦</p>
                            </div>
                            <span class="borderTop"></span>
                            <span class="borderRight"></span>
                            <span class="borderBottom"></span>
                            <span class="borderLeft"></span>
                        </div>
                    </div>
                    <div class="mainRow3_lefts">
                        <!-- <div class="mainRow3_img1">
                             <div class="mainRow3_box">
                                 <span class="mainRow3_span"></span>
                                 <div class="mainRow3_box2" tabindex="1">
                                     <span>PM2.5</span>
                                     <span>:291 ug/m3</span>
                                 </div>
                             </div>
                             &lt;!&ndash;<img src="../../static/img/bigdata/bigdatabg_06.png" alt="">&ndash;&gt;
                         </div>-->
                        <div class="mainRow3_bottom">



                            <!--<div class="mainRow3_img2s">
                                <video class="player" id="video_id4" autoplay="autoplay"
                                       loop="loop" controls="controls" src="">
                                </video>
                            </div>
                            <div class="mainRow3_img2s">
                                <video class="player" id="video_id5" autoplay="autoplay"
                                       loop="loop" controls="controls" src="">
                                </video>
                            </div>
                            <div class="mainRow3_img2s">
                                <video class="player" id="video_id6" autoplay="autoplay"
                                       loop="loop" controls="controls" src="">
                                </video>
                            </div>
                            <div class="mainRow3_img2s">
                                <video class="player" id="video_id7" autoplay="autoplay"
                                       loop="loop" controls="controls" src="">
                                </video>
                            </div>-->
                            <!--<div class="mainRow3_img2s">
                            <img src="../../static/img/bigdata/bigdata_2.png" alt="">
                            </div>
                            <div class="mainRow3_img2s">
                            <img src="../../static/img/bigdata/bigdata_3.png" alt="">
                            </div>
                            <div class="mainRow3_img2s">
                            <img src="../../static/img/bigdata/bigdata_4.png" alt="">
                            </div>-->

                            <div class="mainRow3_echarts">
                                <div class="mainRow3_echarts_title">
                                    设备状态
                                </div>
                                <div class="mainRow3_echarts_title_body">
                                    <div class="mainRow3_echarts_title2">
                                        <span>设备总数</span>
                                        <span style="color:rgb(47, 47, 233);">452台</span>
                                        <span>待机</span>
                                        <span style="color:rgb(47, 47, 233);">21台</span>
                                    </div>
                                    <div class="mainRow3_bottom_echart" id="echart2"
                                         style="margin-top: 2vh"></div>
                                    <div class="mainRow3_bottom_echart2" id="echart3"></div>
                                    <div class="mainRow3_bottom_echart3" id="echart4"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--<div class="mainRow2">
                    <div class="mainRow2_mid">
                        <div class="title" style="width: 76%">
                            <div class="mainRow_left_titles">智能污水处理</div>
                            <div class="imgBox">
                                <img src="../../static/img/bigdata/bigdata_43.png" alt="">
                            </div>
                        </div>
                        <div class="mainRow2_mid_body" id="each1"></div>
                    </div>
                    &lt;!&ndash;<div class="mainRow2_bottom">
                        <div class="title" style="width: 76%">
                            <div class="mainRow_left_titles">中央厨房温度湿度</div>
                            <div class="imgBox"
                            ><img src="../../static/img/bigdata/bigdata_43.png" alt=""></div>
                        </div>
                        <div class="mainRow2_left_bodys">
                            <div style="overflow: hidden">
                                <span class="title_span">1号冷冻库:</span>
                                </br>
                                <p class="freezer_content">
                                    <span class="title_span1">温度：</span>
                                    <span class="yellow">0℃</span>
                                </p>
                            </div>
                            <div style="overflow: hidden">
                                <span class="title_span">2号冷冻库:</span></br>
                                <p class="freezer_content_two">
                                    <span class="title_span1">温度：</span>
                                    <span class="yellow">0℃</span>
                                </p>
                            </div>
                            <div style="overflow: hidden">
                                <span class="title_span">冷却间:</span></br>
                                <p class="freezer_content_cooling">
                                    <span class="title_span1">温度：</span>
                                    <span class="yellow">0℃</span>
                                </p>
                            </div>
                            <div style="overflow: hidden">
                                <span class="title_span">摆盘间:</span></br>
                                <p class="freezer_content_bp">
                                    <span class="title_span1">温度：</span>
                                    <span class="yellow">0℃</span>
                                </p>
                            </div>
                            <div style="overflow: hidden">
                                <span class="title_span">滚揉间：</span></br>
                                <p class="freezer_content_room">
                                    <span class="title_span1">温度：</span>
                                    <span class="yellow">0℃</span>
                                </p>
                            </div>
                            <div style="overflow: hidden">
                                <span class="title_span">腌制间:</span></br>
                                <p class="freezer_content_y">
                                    <span class="title_span1">温度：</span>
                                    <span class="yellow">0℃</span>
                                </p>
                            </div>
                            <div style="overflow: hidden">
                                <span class="title_span">内包装间:</span></br>
                                <p class="freezer_content_n">
                                    <span class="title_span1">温度：</span>
                                    <span class="yellow">0℃</span>
                                </p>
                            </div>
                        </div>
                    </div>&ndash;&gt;

                </div>-->
                <div class="mainRow3">

                    <div class="mainRow3_righs">
                        <div class="title">
                            <div class="mainRow_left_titles">园区能源计量</div>
                            <div class="imgBox">
                                <img class="imgBox_1" src="../../static/img/bigdata/bigdata_43.png" alt=""></div>
                        </div>
                        <div class="mainRow3_righs_body">
                            <div class="tel"><span style="color: #00aeff;">总用电量</span>
                                <span class="yellowss">59638</span> kW.h
                            </div>
                            <div class="mainRow3_righs_body1" id="each5">
                            </div>
                            <div class="tel"><span style="color: #20d180;">工业板块电量</span><span
                                    class="yellowss">48873</span> kW.h
                            </div>
                            <div class="mainRow3_righs_body1" id="each6">

                            </div>
                            <div class="tel"><span style="color: #ffb137;">农业板块电量</span><span
                                    class="yellowss">8622</span>kW.h
                            </div>
                            <div class="mainRow3_righs_body1" id="each7">

                            </div>
                            <div class="tel"><span style="color: #ff4949;"> 其余板块电量</span> <span
                                    class="yellowss">1873</span> kW.h
                            </div>
                            <div class="mainRow3_righs_body1" id="each8">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="agriculturalMain">
            <div class="agrTitle">
                <div class="Topimg1">
                    <img src="../../static/img/bigdata/bigdata_13.png" alt="">
                </div>
                智慧农业板块
                <div class="Topimg2">
                    <img src="../../static/img/bigdata/bigdata_15.png" alt="">
                </div>
            </div>
            <div class="agrContent">
                <div class="mainRow4">
                    <div class="mainRow4_top">
                        <div class="title">
                            <div class="mainRow_left_titles">农业气象站</div>
                            <div class="imgBox">
                                <img class="imgBox_2" src="../../static/img/bigdata/bigdata_43.png" alt="">
                            </div>
                        </div>
                        <div class="mainRow4_tops">
                            <div>
                                <span class="title_span">光照度：</span>
                                <span class="yellow">332lux</span>
                            </div>
                            <div>
                                <span class="title_span">气压：</span>
                                <span class="yellow">72pa</span>
                            </div>
                            <div><span class="title_span"> 风速：</span>
                                <span
                                        class="yellow">2m/s</span></div>
                            <div><span class="title_span"> 蒸发量：</span>
                                <span
                                        class="yellow">3mm</span></div>
                            <div><span class="title_span">二氧化碳:</span>
                                <span
                                        class="yellow">400PPM</span></div>
                            <div><span class="title_span">负氧离子:</span>
                                <span class="yellow">73 /cm3</span>
                            </div>
                            <div><span class="title_span"> 湿度：</span> <span
                                    class="yellow">90%RH</span></div>
                            <div><span class="title_span">风向：</span> <span
                                    class="yellow">西南风</span></div>
                            <div><span class="title_span">降雨量：</span> <span
                                    class="yellow">141mm</span></div>
                            <div><span class="title_span">紫外线:</span> <span
                                    class="yellow">25mW/m2</span></div>
                            <div><span class="title_span">辐射：</span> <span
                                    class="yellow">800:-3EN</span></div>
                            <div><span class="title_span">氧气浓度:</span>
                                <span class="yellow">19.5%</span>
                            </div>
                        </div>
                    </div>
                    <div class="mainRow4_bottom">
                        <div class="title">
                            <div class="mainRow_left_titles">实时环境检测</div>
                            <div class="imgBox">
                                <img class="imgBox_2" src="../../static/img/bigdata/bigdata_43.png" alt="">
                            </div>
                        </div>
                        <div class="mainRow4_bottom_body">
                            <div class="btnBox">
                                <div>1号棚</div>
                                <div class="toggle-button-wrapper">
                                    <span class="btn_span_title">风机</span>
                                    <input type="checkbox" id="toggle-button"
                                           name="switch">
                                    <label for="toggle-button" class="button-label">
                                        <span class="circle"></span>
                                    </label>
                                </div>
                                <div class="toggle-button-wrapper checkBtns">
                                    <span class="btn_span_title">卷帘</span>
                                    <input type="checkbox" id="toggle-button1"
                                           name="switch">
                                    <label for="toggle-button1"
                                           class="button-label">
                                        <span class="circle"></span>
                                    </label>
                                </div>

                            </div>
                            <div class="onOff">
                                <div>
                                    <span class="title_span2">温度1：</span>
                                    <span class="yellow">18℃</span>
                                </div>
                                <div>
                                    <span class="title_span2">温度2：</span>
                                    <span class="yellow">20℃</span>
                                </div>
                                <div>
                                    <span class="title_span2">温度3：</span>
                                    <span class="yellow">22℃</span>
                                </div>
                                <div>
                                    <span class="title_span2">温度4：</span>
                                    <span class="yellow">17℃</span>
                                </div>
                                <div>
                                    <span class="title_span2">舍内温度：</span>
                                    <span class="yellow">18℃</span>
                                </div>
                                <div>
                                    <span class="title_span2">舍外温度：</span>
                                    <span class="yellow">22℃</span>
                                </div>
                                <div>
                                    <span class="title_span2">加热器1温度：</span>
                                    <span class="yellow">30℃</span>
                                </div>
                                <div>
                                    <span class="title_span2">加热器2温度：</span>
                                    <span class="yellow">35℃</span>
                                </div>
                                <div><span class="title_span2">湿度：</span><span
                                        class="yellow">80%RH</span></div>
                                <div><span class="title_span2">负压：</span><span
                                        class="yellow">72pa</span></div>
                                <div><span class="title_span2">氨气:</span><span
                                        class="yellow">1.2PPM</span></div>
                                <!--<div><span class="title_span2">氧气浓度:</span><span
                                        class="yellow">53%</span></div>-->
                            </div>
                            <div class="btnBox">
                                <div>2号棚</div>
                                <div class="toggle-button-wrapper">
                                    <span class="btn_span_title">风机</span>
                                    <input type="checkbox" id="toggle-button2"
                                           name="switch">
                                    <label for="toggle-button2"
                                           class="button-label">
                                        <span class="circle"></span>
                                    </label>
                                </div>
                                <div class="toggle-button-wrapper checkBtns">
                                    <span class="btn_span_title">卷帘</span>
                                    <input type="checkbox" id="toggle-button3"
                                           name="switch">
                                    <label for="toggle-button3"
                                           class="button-label">
                                        <span class="circle"></span>
                                    </label>
                                </div>

                            </div>
                            <div class="onOff two-wapper-item">
                                <div>
                                    <span class="title_span2">温度1：</span>
                                    <span class="yellow">18℃</span>
                                </div>
                                <div>
                                    <span class="title_span2">温度2：</span>
                                    <span class="yellow">20℃</span>
                                </div>
                                <div>
                                    <span class="title_span2">温度3：</span>
                                    <span class="yellow">22℃</span>
                                </div>
                                <div>
                                    <span class="title_span2">温度4：</span>
                                    <span class="yellow">17℃</span>
                                </div>
                                <div>
                                    <span class="title_span2">舍内温度：</span>
                                    <span class="yellow">18℃</span>
                                </div>
                                <div>
                                    <span class="title_span2">舍外温度：</span>
                                    <span class="yellow">22℃</span>
                                </div>
                                <div>
                                    <span class="title_span2">加热器1温度：</span>
                                    <span class="yellow">30℃</span>
                                </div>
                                <div>
                                    <span class="title_span2">加热器2温度：</span>
                                    <span class="yellow">35℃</span>
                                </div>
                                <div><span class="title_span2">湿度：</span><span
                                        class="yellow">80%RH</span></div>
                                <div><span class="title_span2">负压：</span><span
                                        class="yellow">72pa</span></div>
                                <div><span class="title_span2">氨气:</span><span
                                        class="yellow">452PPM</span></div>
                                <!--<div>
                                    <span class="title_span2">温度：</span>
                                    <span class="yellow">20℃</span>
                                </div>
                                <div><span class="title_span2">湿度：</span><span
                                        class="yellow">280%RH</span></div>
                                <div><span class="title_span2">光照度：</span><span
                                        class="yellow">234lux</span></div>
                                <div><span class="title_span2">二氧化碳:</span><span
                                        class="yellow">398PPM</span></div>
                                <div><span class="title_span2">氧气浓度:</span><span
                                        class="yellow">40%</span></div>-->
                            </div>
                            <div class="btnBox">
                                <div>3号棚</div>
                                <div class="toggle-button-wrapper">
                                    <span class="btn_span_title">风机</span>
                                    <input type="checkbox" id="toggle-button4"
                                           name="switch">
                                    <label for="toggle-button4"
                                           class="button-label">
                                        <span class="circle"></span>
                                    </label>
                                </div>
                                <div class="toggle-button-wrapper checkBtns">
                                    <span class="btn_span_title">卷帘</span>
                                    <input type="checkbox" id="toggle-button5"
                                           name="switch">
                                    <label for="toggle-button5"
                                           class="button-label">
                                        <span class="circle"></span>
                                    </label>
                                </div>

                            </div>
                            <div class="onOff">
                                <div>
                                    <span class="title_span2">温度1：</span>
                                    <span class="yellow">18℃</span>
                                </div>
                                <div>
                                    <span class="title_span2">温度2：</span>
                                    <span class="yellow">20℃</span>
                                </div>
                                <div>
                                    <span class="title_span2">温度3：</span>
                                    <span class="yellow">22℃</span>
                                </div>
                                <div>
                                    <span class="title_span2">温度4：</span>
                                    <span class="yellow">17℃</span>
                                </div>
                                <div>
                                    <span class="title_span2">舍内温度：</span>
                                    <span class="yellow">18℃</span>
                                </div>
                                <div>
                                    <span class="title_span2">舍外温度：</span>
                                    <span class="yellow">22℃</span>
                                </div>
                                <div>
                                    <span class="title_span2">加热器1温度：</span>
                                    <span class="yellow">30℃</span>
                                </div>
                                <div>
                                    <span class="title_span2">加热器2温度：</span>
                                    <span class="yellow">35℃</span>
                                </div>
                                <div><span class="title_span2">湿度：</span><span
                                        class="yellow">80%RH</span></div>
                                <div><span class="title_span2">负压：</span><span
                                        class="yellow">72pa</span></div>
                                <div><span class="title_span2">氨气:</span><span
                                        class="yellow">452PPM</span></div>
                                <!--<div><span class="title_span2">温度：</span><span
                                        class="yellow">22℃</span></div>
                                <div><span class="title_span2">湿度：</span><span
                                        class="yellow">356%RH</span></div>
                                <div><span class="title_span2">光照度：</span><span
                                        class="yellow">365lux</span></div>
                                <div><span class="title_span2">二氧化碳:</span><span
                                        class="yellow">375PPM</span></div>
                                <div><span class="title_span2">氧气浓度:</span><span
                                        class="yellow">48%</span></div>-->
                            </div>
                            <!--<div class="btnBox">
                                <div>4号雾培棚</div>
                                <div class="toggle-button-wrapper">
                                    <span class="btn_span_title">风机</span>
                                    <input type="checkbox" id="toggle-button6"
                                           name="switch">
                                    <label for="toggle-button6"
                                           class="button-label">
                                        <span class="circle"></span>
                                    </label>
                                </div>
                                <div class="toggle-button-wrapper checkBtns">
                                    <span class="btn_span_title">卷帘</span>
                                    <input type="checkbox" id="toggle-button7"
                                           name="switch">
                                    <label for="toggle-button7"
                                           class="button-label">
                                        <span class="circle"></span>
                                    </label>
                                </div>

                            </div>
                            <div class="onOff">
                                <div><span class="title_span2">温度：</span><span
                                        class="yellow">23℃</span></div>
                                <div><span class="title_span2">湿度：</span><span
                                        class="yellow">370%RH</span></div>
                                <div><span class="title_span2">光照度:</span><span
                                        class="yellow">362lux</span></div>
                                <div><span class="title_span2">二氧化碳:</span><span
                                        class="yellow">369PPM</span></div>
                                <div><span class="title_span2">氧气浓度:</span><span
                                        class="yellow">54%</span></div>
                            </div>-->

                        </div>
                    </div>
                </div>

                <div class="mainRow5">
                    <div class="mainRow5_img1">
                        <img src="../../static/img/bigdata/bigdatabg_08.png" alt="">
                    </div>
                    <div class="mainRow5_bottom">
                        <div class="mainRow5_img2">
                            <div class="mainRow5_img2s">
                               <!-- <img src="../../static/img/tupian1.jpg" alt="">-->
                                <!--<video class="player" id="video_id8" autoplay="autoplay" loop="loop" controls="controls" src="">-->
                                <!--</video>-->
                            </div>
                            <div class="mainRow5_img2s">
                                <!--<img src="../../static/img/tupian2.jpg" alt="">-->
                                <!--<video class="player" id="video_id9" autoplay="autoplay" loop="loop" controls="controls" src="">-->
                                <!--</video>-->
                            </div>
                            <div class="mainRow5_img2s">
                                <!--<img src="../../static/img/tupian3.jpg" alt="">-->
                                <!--<video class="player" id="video_id10" autoplay="autoplay" loop="loop" controls="controls" src="">-->
                                <!--</video>-->
                            </div>
                            <div class="mainRow5_img2s">
                                <!--<img src="../../static/img/tupian4.jpg" alt="">-->
                                <!--<video class="player" id="video_id11" autoplay="autoplay" loop="loop" controls="controls" src="">-->
                                <!--</video>-->
                            </div>

                            <!--<div class="mainRow5_img2s">-->
                            <!--<img src="../../static/img/bigdata/bigdata_2.png" alt="">-->
                            <!--</div>-->
                            <!--<div class="mainRow5_img2s">-->
                            <!--<img src="../../static/img/bigdata/bigdata_3.png" alt="">-->
                            <!--</div>-->
                            <!--<div class="mainRow5_img2s">-->
                            <!--<img src="../../static/img/bigdata/bigdata_4.png" alt="">-->
                            <!--</div>-->
                        </div>
                        <div class="mainRow5_echarts">
                            <div class="mainRow5_bottom_title">
                                根据时间施肥和浇水数据
                            </div>

                            <div class="mainRow5_bottom_img">
                                <img src="../../static/img/bigdata/bigdata_5.png"
                                     alt="">
                            </div>
                            <div class="mainRow5_echarts1" id="each9">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="mainRow6">
                    <div class="mainRow6_top2">
                        <div class="title">
                            <div class="mainRow_left_titles">天气预报</div>
                            <div class="imgBox">
                                <img class="imgBox_3" src="../../static/img/bigdata/bigdata_43.png" alt="">
                            </div>
                        </div>
                        <!--<div class="mainRow6_top_body" style="width: 100%;height: 80%" id="echartstu"></div>-->
                        <div class="hh_1">
                            <iframe class="imgBox_23"  width="100%" scrolling="no" height="110%"  frameborder="0" allowtransparency="true" src="https://i.tianqi.com?c=code&id=162&color=%23FFFFFF&icon=1&site=12"></iframe>
                        </div>

                    </div>
                    <div class="mainRow6_mid">
                        <div class="title">
                            <div class="mainRow_left_titles">农产品生产周期</div>
                            <div class="imgBox">
                                <img class="imgBox_4" src="../../static/img/bigdata/bigdata_43.png" alt="">
                            </div>
                        </div>
                        <div class="mainRow6_mid_body" id="each10"></div>
                    </div>
                    <div class="mainRow6_bottom">
                        <div class="title">
                            <div class="mainRow_left_titles">农场数据预警</div>
                            <div class="imgBox">
                                <img class="imgBox_5" src="../../static/img/bigdata/bigdata_43.png" alt="">
                            </div>
                        </div>
                        <div class="mainRow6_titlep">
                            <div class="li_Title">
                                <span>报警名称</span>
                                <span>报警详情</span>
                                <span >报警时间</span>
                            </div>
                            <ul class="li_Body">
                                <div>
                                    <span class="happenSpan">触发器 </span>
                                    <span class="yellows">温度过低</span>
                                    <span class="alarmTime"></span>
                                </div>
                                <div>
                                    <span class="happenSpan">触发器 </span> <span
                                        class="yellows">光照少</span>
                                    <span class="alarmTime"></span>
                                </div>
                                <div>
                                    <span class="happenSpan">触发器 </span> <span
                                        class="yellows">温度过低</span>
                                    <span class="alarmTime"></span>
                                </div>
                                <div>
                                    <span class="happenSpan">触发器 </span> <span
                                        class="yellows">光照少</span>
                                    <span class="alarmTime"></span>
                                </div>
                                <div>
                                    <span class="happenSpan">触发器 </span> <span
                                        class="yellows">温度过低</span>
                                    <span class="alarmTime"></span>
                                </div>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="../../static/js/jquery.min.js?v=2.1.4"></script>
<script src="../../static/i18n/jquery.i18n.properties.js"></script>
<script src="../../static/js/echarts.min.js"></script>
<script src="../../static/js/layui.js" charset="utf-8"></script>
<script src="/static/js/ezuikit.js" charset="utf-8"></script>
<script src="/static/js/hls.min.js"></script>
<script src="../../static/js/cloudHutch.js"></script>
<script src="../../static/js/camera.js"></script>
<script src="../../static/js/cloudHutchData.js"></script>
<script src="../../static/js/ditu.js"></script>
<script src="../../static/js/echartstu.js"></script>
<script src="https://webapi.amap.com/maps?v=1.4.15&key=67e2aa12f5adadab4b6a2d56ed5df9ee"></script>
</body>

</html>



